{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "plugins": ["prettier", "simple-import-sort"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",

    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "overrides": [
    {
      "files": ["src/**/*.ts", "src/**/*.js"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              // The main event
              ["^express"], // Third party
              ["^@?\\w"], // Node.js builtins
              ["^\\u0000"], // Side effect imports
              ["^[\\w@]"], // Common local aliases
              ["^\\.{2}"], // Parent imports. Put `..` last
              ["^\\."], // Other relative imports. Put same-folder imports and `.` last
              ["^\\u0000"] // Style imports
            ]
          }
        ]
      }
    }
  ]
}
